{% extends "main/header.html" %}
{% load staticfiles %}
{% block stylesheets %}
  <link href="{% static 'main/css/index.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
  <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header page-scroll">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
        <i class="fa fa-bars"></i>
        </button>
        <a class="navbar-brand" href="#">
          GENSPIRE
        </a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse navbar-main-collapse">
        <ul class="nav navbar-nav">
          <li>
            <a href="#">About</a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="page-scroll">
            <a href="#">Log In</a>
          </li>
          <li class="page-scroll">
            <a href="#">Sign Up</a>
          </li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
  </nav>
  <section class="main">
    <div class="main-body">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <h1 class="main-text lead">Generate Inspiration.</h1>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
{% block javascript %}
  <script src="{% static 'main/js/cover-pic.js' %}"></script>
  <script>
  // RANDOMLY CHANGE HEADER PICTURE
  $(function() {
  loadCoverPic(".main", {{ STATIC_URL }});
  });
  </script>
{% endblock %}