html { 
  height:100%;
  width:100%;
}

body {
  width:100%;
  height:100%;
  font-family: Lato,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight:300;
}

/* MAIN */
.main {
  display: table;
  width: 100%;
  height: auto;
  padding:100px 0;
  text-align: center;
  color: #fff;
}

@media(min-width:767px) {
  .main {
    height:100%;
    padding:0;
  }
}

.main-body {
  display: table-cell;
  vertical-align: middle;
}

.main-text {
  font-size: 40px;
  opacity:1;
}

# Navbar

.navbar {
    margin-bottom: 0;
    text-transform: uppercase;
}

.navbar-brand {
    font-size:22px;
    font-weight: 400;
    font-family: 'Raleway',Lato,"Helvetica Neue",Helvetica,Arial,sans-serif;;
}

.navbar-brand:focus {
    outline: 0;
}

.navbar-custom {
  padding-top: 20px;
}

.navbar-custom a {
    color: #fff;
}

.navbar-custom .nav li.active a {
    color:white;
}

.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus,
.navbar-custom .nav li.active {
    outline: 0;
    background-color: rgba(255,255,255,.2);
}

@media(min-width:767px) {
    .navbar {
        letter-spacing: 1px;
    }
}

